.wrapper {
  margin-top: 2rem;
}

.btn {
  margin-top: 20px;
  border-top: 1px solid gray;
  padding: 10px;
}

.btn button {
  background-color: rgb(223, 71, 71);
  color: white;
  border: none;
  outline: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}
