.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(163, 26, 26);
  padding: 10px 20px;
}

.nav a {
  color: white;
  text-decoration: none;
}

.nav h2 {
  color: rgb(240, 230, 230);
  font-size: 20px;
}

.navList {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.navItem {
  padding-left: 20px;
}

.navItem a {
  text-decoration: none;
  color: rgb(138, 133, 133);
  font-size: 20px;
}

a.active {
    color: white;
}
